@*@model IEnumerable<WebInvoice.Models.Client>*@
@model List<WebInvoiceApp.UI.Web.Models.Client>
@{
    /**/

    ViewBag.Title = "Client List";
    Layout = "~/Views/Shared/_LayoutTable.cshtml";
}


<div class="panel panel-primary">
    <div class="form-group" style="margin-left:10px;">
        <br />
        @Html.ActionLink("  Create New Client", "Create", null, new { @class = "btn btn-primary fa fa-check-square-o" })
    </div>
    <div class="box animated fadeInRightBig">

        <div class="box-body" style="margin-left:10px;">
            <table id="basic-datatables" class="table table-striped table-bordered table-hover nowrap" style="font-size:10pt;" cellspacing="0" width="99%">
                <thead>
                    <tr>
                        <th scope="col" style="width:8%;"></th>
                        <th>
                            Name
                        </th>
                        <th>
                            Contact
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Address
                        </th>
                        <th>
                            City
                        </th>
                        <th>
                            Province
                        </th>
                        <th>
                            PostalCode
                        </th>
                        <th>
                            Fone
                        </th>


                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td align="center">
                            @Html.ActionLink(" ", "Edit", new { id = item.IdClient }, new { @class = "fa fa-edit", title = "Edit" })&nbsp;&nbsp;|&nbsp;&nbsp;

                            @Html.ActionLink(" ", "Details", new { id = item.IdClient }, new { @class = "fa fa-copy text-success", title = "Details" })&nbsp;&nbsp;|&nbsp;&nbsp;

                            <a class="fa fa-trash-o text-danger delete" data-id="@item.IdClient" title="Delete Client" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NameClient)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Contact)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.City)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Province)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PostalCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fone)
                        </td>
                    </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>

</div>
    @section Scripts {

        @* DELETE ACCESS *@
        <script>
            $(".delete").click(function () {
                var id = $(this).attr("data-id");

                //Sweet Alert start here
                event.preventDefault();
                swal({
                    title: "Are you sure?",
                    text: "You will not be able to recover this Issuer!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn-danger",
                    confirmButtonText: "Yes, delete it!",
                    cancelButtonClass: "btn-primary",
                    cancelButtonText: "No, cancel!",
                    closeOnConfirm: false,
                    closeOnCancel: true
                },
                    function (isConfirm) {
                        if (isConfirm) {
                            //Action is here
                            $.ajax({
                                type: 'get',
                                dataType: 'json',
                                cache: false,
                                url: "/Client/DeleteClient",
                                data: {
                                    Id: id
                                },
                                success: function (response, textStatus, jqXHR) {
                                    if (response.deleted == "true") {
                                        swal({ title: "Deleted!", text: "Your Client has been deleted.", type: "success", confirmButtonText: "OK!", closeOnConfirm: true });
                                        //location.reload();
                                        $("#myTable").change(location.reload());

                                        return true;
                                    }
                                    else {
                                        swal({ title: "Error!", text: "Unable to delete Client!\n There is Invoice with Client.", type: "error", confirmButtonText: "OK!", closeOnConfirm: true });
                                    }
                                },
                                error: function (jqXHR, textStatus, errorThrown) {
                                    swal({ title: "Error!", text: errorThrown, type: "error", confirmButtonText: "OK!", closeOnConfirm: true });
                                    //alert('Error - ' + errorThrown);
                                }
                            });
                        } else {
                            swal("Cancelled", "Your Issuer is safe.", "error");
                            return false;
                        }
                    });
                //Sweet Alert end here

            });
        </script>
        @*<script>
                $(".delete").click(function () {
                    var id = $(this).attr("data-id");

                    //Sweet Alert start here
                    event.preventDefault();
                    swal({
                        title: "Are you sure?",
                        text: "You will not be able to recover this file!",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonClass: "btn-danger",
                        confirmButtonText: "Yes, delete it!",
                        cancelButtonClass: "btn-primary",
                        cancelButtonText: "No, cancel!",
                        closeOnConfirm: false,
                        closeOnCancel: true
                    },
                        function (isConfirm) {
                            if (isConfirm) {
                                //Action is here
                                $.ajax({
                                    type: 'get',
                                    dataType: 'json',
                                    cache: false,
                                    url: "/Client/DeleteClient",
                                    data: {
                                        Id: id
                                    },
                                    success: function (response, textStatus, jqXHR) {
                                        if (response.deleted == "true") {
                                            swal({ title: "Deleted!", text: "Your Issuer has been deleted.", type: "success", confirmButtonText: "OK!", closeOnConfirm: true });
                                            //location.reload();
                                            $("#myTable").change(location.reload());

                                            return true;
                                        }
                                        else {
                                            swal({ title: "Error!", text: "Unable to delete Client!\n There is Invoice with Client.", type: "error", confirmButtonText: "OK!", closeOnConfirm: true });
                                        }
                                    },
                                    error: function (jqXHR, textStatus, errorThrown) {
                                        swal({ title: "Error!", text: errorThrown, type: "error", confirmButtonText: "OK!", closeOnConfirm: true });
                                        //alert('Error - ' + errorThrown);
                                    }
                                });
                            } else {
                                swal("Cancelled", "Your Client is safe.", "error");
                                return false;
                            }
                        });
                }
            </script>*@

        @* Loading in the button *@
        <script>
            $('.btn').on('click', function () {
                var $this = $(this);
                $this.button('loading');
                setTimeout(function () {
                    $this.button('reset');
                }, 2000);
            });
        </script>
    }
